/* Write your CSS here */
.sub-last-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
  width: 20%;
}
.logo {
  height: 100px;
}

.para {
  color: white;
  font-family: Bree serif;
  text-align: center;
}
.green {
  color: green;
}
.red {
  color: red;
}
