/* Write your CSS here */
.latest-matches-container {
  background-color: #1e293b;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.one {
  width: 35%;
}
.two {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-logo {
  height: 200px;
}
.heading {
  font-family: Bree serif;
  text-align: center;
  color: white;
  font-size: 23px;
  font-weight: 400;
}
